.app-download{
     margin : auto auto;
     margin-top :100px;
     font-size:max(3w,20px);
    text-align:center;
    font-weight:100px;
}
.app-download-platforms{
    display:flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}
.app-download-platforms img:hover{
     transform:scale(1.0s);
}