.header {
  
    height: 34vw;
    /* margin: 30px 90px; */
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    background-position: right top;
    position: relative;
    border-radius: 20px;
    margin: 0.5rem;
}
.header-content{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width:50%;
    bottom:10%;
    left:6vw;
    animation: fadeIn 3s;
    
}
.header-content h2{
    font-size: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-content p{
        
    color: white;
    font-size: 1vw;
   
}
.header-content button{
    border:none;
    color: #747477;
    font-weight:500;
    padding:1vw 2.3vw;
    background-color:white;
    font-size:max(1vw13px);
    border-radius:50px;
}